.pagination {
    background-color: #061214;
    color: white;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-size: 70px;
    margin-top: 15px;
    cursor: pointer;
    border-collapse: separate;
}

.pagination__li {
    margin: 0 auto;
    border-spacing: 10px 10px;
    border-collapse: separate;
    height: 123px;
    width: 75px;
}


.pagination__type {
    flex-direction: row;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 10%;
    width: auto;
    align-items: center;
    position: absolute;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.pagination__li:hover {
    background-color: #07282e;
}

.bx {
    font-size: 120px;   
    background-color: #061214;
    color: white;
    height: 125px;
    width: auto;
    margin: 0 auto;
    align-items: center;
    font-size: 70px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: none;
    margin-bottom: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;    
}

.bx:hover {
    background-color: #07282e;
}